<h2>Back <%= @project.name %></h2>
<hr />
<%= form_for(@investment) do |f| %>
	<%= f.label :intended_amount, "Amount" %>
	<%= f.number_field :intended_amount %>
	<%= f.hidden_field :project_id, value: @project.id %>
	<%= f.submit "Back!", class: "button button-primary" %>
<% end %>