<li>
  <h4><%= project.name %></h4>
  <p><%= project.description %></p>
  <p>Creator: <%= project.user.name %></p>
  <p>Expires on: <%=project.expires %> | Target: $<%= project.target %></p>
  <p><%= project.backers.count %> Backers | <%= project.raised %> raised (<%= "%.2f" % (project.raised.to_f/project.target.to_f * 100) %>%)</p>
	<% if current_user.investments.find_by(project_id: project.id).present? %>
		<p><%= link_to "Change Backing", edit_investment_path(current_user.investments.find_by(project_id: project.id)) %></p>
	<% else %>
		<p><%= link_to "Back Project", new_investment_path(project_id: project.id) %></p>
	<% end %>
</li>
<hr />