<% unless project.expired?%>

  <% if project_counter%3 == 0 %>
    <div class = "row">
  <% end %>
    
  <div class = "four columns">
    <%= link_to project_path(project.id) do %> 
      <%= image_tag "https://placehold.it/300x225" %>
    <% end %>
    <%= link_to project_path(project.id) do %> 
      <h5><%= project.name %></h5>
    <% end %>
    <p><%= truncate(project.description, length: 140, separator: ' ') %></p>
    <table class="u-full-width">
      <thead>
        <th><%= truncate("%.2f" % (project.raised.to_f/project.target.to_f * 100), length:4, omission:'') %>%</th>
        <th><%= project.raised %></th>
        <th><%= project.readable_time_left.capitalize %></th>
      </thead>
      <tbody>
        <tr>
          <td>funded</td>
          <td>raised</td>
          <td>to go</td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if (project_counter+1)%3 == 0 %>
    </div>
  <% end %>

<% end %>