<%= form_tag "/stripe/add_payment_method", :id => "add-cc-form", :remote => true  do %>
	<span id = "add-payment-method-errors"></span>
	<%= label_tag "cc-number", "Card Number" %>
	<input id = "cc-number" type = "tel" size = "20" data-stripe = "number"></input>
	<%= label_tag "cc-cvc", "CVC" %>
	<input id = "cc-cvc" type = "tel" size = "4" data-stripe = "cvc"></input>
	<%= label_tag "cc-expiry", "Expiration (MM/YYYY)" %>
	<input id = "cc-expiry" type = "tel" size = "10" data-stripe = "exp-month"></input>
	<%= hidden_field_tag :stripe_token %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<br />
	<%= submit_tag 'Add Card', class: "button button-primary" %>
<% end %>