<div>
	<% if current_user.stripe_customer_ref.present? %>
		<h3>Choose a payment method:</h3>
		<%= form_tag "/investments/#{params[:id]}/confirm", :id => "choose-cc-form" do %>
			<% @filtered_cards.each do |card| %>
				<%= radio_button_tag(:cc_fingerprint, card[:fingerprint]) %>
				<%= label_tag('cc_fingerprint_' + card[:fingerprint], "#{card[:brand]} card ending in #{card[:last4]}") %>
				<br />
			<% end %>
			<br />
			<%= submit_tag('Pledge') %>
		<% end %>
		<h3>Or add a new payment method:</h3>
	<% end %>
	<%= render 'stripe/add_payment_form' %>
</div>